<script type="text/javascript">
  
   async function followProfile(profileId){
      let address = localStorage.getItem("_account_");
      let accessToken = await getLatestAccessToken();
      console.log('followProfile', address, accessToken);
      let loading = showLoading('Processing', 'Processing...');
      $.ajax({
        url: `/followProfile`,
        data:{
          profileId:profileId,
          accessToken:accessToken
        },
        type:"POST",
        success: function(data){
          loading.close();
          console.log("followProfile result:" , data)
          showInfo('Success', "Follow profile success");
        },
        error: function(error){
          alert("Follow profile error");
        }
      });

   }

</script>

<h2>All Profiles</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Handle</th>
      <th scope="col">TotalFollowers</th>
      <th scope="col">TotalFollowing</th>
      <th scope="col">TotalPosts</th>
      <th scope="col">TotalComments</th>
      <th scope="col">TotalMirrors</th>
      <th scope="col">TotalPublications</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>

  <tbody>

    {% for item in profiles.items %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.handle }}</td>
        <td>{{ item.stats.totalFollowers }}</td>
        <td>{{ item.stats.totalFollowing }}</td>
        <td>{{ item.stats.totalPosts }}</td>
        <td>{{ item.stats.totalComments }}</td>
        <td>{{ item.stats.totalMirrors }}</td>
        <td>{{ item.stats.totalPublications }}</td>
        <td>
        <button class="btn btm-sm btn-outline-primary"><a target="_blank" href="https://chat.blockscan.com/index?a={{ item.ownedBy }}"><i class="bi bi-chat-dots"></i></a></button>
        &nbsp;&nbsp;
        <button class="btn btm-sm btn-outline-primary" onclick="followProfile('{{item.id}}')"><i class="bi bi-person-check"></i></button>

        </td>
      </tr>
    {% endfor %}
   
  </tbody>

</table>

